<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>uFreelance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D910A4971DEE1CDA00FA1893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D910A4A51DEE1EE400FA1893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D910A4B31DEE248500FA1893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D953C6DE1DE315EA00509C6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
